@font-face {
  font-family: 'ArnoProCaption';
  src: url("/wp-content/themes/foto-theme/src/fonts/ArnoProCaption.otf"); }
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/wp-content/themes/foto-theme/src/fonts/Montserrat-SemiBold.ttf"); }
@font-face {
  font-family: 'GeorgiaRegular';
  src: url("/wp-content/themes/foto-theme/src/fonts/GeorgiaRegular.ttf"); }
@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url("/wp-content/themes/foto-theme/src/fonts/HelveticaNeueCyr-Roman.ttf"); }
@font-face {
  font-family: 'Merriweather-Regular';
  src: url("/wp-content/themes/foto-theme/src/fonts/Merriweather-Regular.ttf"); }
@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url("/wp-content/themes/foto-theme/src/fonts/HelveticaNeueCyr-Light.ttf"); }
@font-face {
  font-family: 'MinionVariableConcept';
  src: url("/wp-content/themes/foto-theme/src/fonts/MinionVariableConcept.otf"); }
@font-face {
  font-family: 'Merriweather-Italic';
  src: url("/wp-content/themes/foto-theme/src/fonts/Merriweather-Italic.ttf"); }
@font-face {
  font-family: 'Montserrat-Medium';
  src: url("/wp-content/themes/foto-theme/src/fonts/Montserrat-Medium.ttf"); }
@font-face {
  font-family: 'CasusLight';
  src: url("/wp-content/themes/foto-theme/src/fonts/CasusLight.otf"); }
@font-face {
  font-family: 'CasusBook';
  src: url("/wp-content/themes/foto-theme/src/fonts/CasusBook.otf"); }

